<h1>RickyBooks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Edition</th>
    <th>Condition</th>
    <th>Type</th>
    <th>Course Code</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>PlaceholderTitle</td>
    <td>PlaceholderAuthor</td>
    <td>PlaceholderEdition</td>
    <td>PlaceholderCondition</td>
    <td>PlaceholderType</td>
    <td>PlaceholderCourseCode</td>
    <td>PlaceholderPrice</td>
  </tr>
</table>

<style media="screen">
  th {
    width: 150px;
    padding-bottom: 10px;
  }
  td {
    width: 150px;
    text-align: center;
  }
</style>
